# ======================
# DEPENDÊNCIAS
# ======================
node_modules/

# ======================
# VARIÁVEIS DE AMBIENTE
# ======================
.env
.env.local
.env.development
.env.production

# ======================
# BUILD / DIST
# ======================
dist/
build/

# ======================
# LOGS
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# VITE
# ======================
.vite/

# ======================
# SISTEMA / IDE
# ======================
.DS_Store
Thumbs.db

.vscode/
.idea/

# ======================
# TYPESCRIPT
# ======================
*.tsbuildinfo
